<nav class="w-full flex items-center justify-between px-5 py-4 bg-transparent shadow-sm fixed top-0 left-0 z-30 backdrop-blur">
  <div class="flex items-center">
    <a routerLink="/" href="/">
    <span class="text-3xl md:text-4xl font-extrabold tracking-widest text-blue-500 font-logo select-none" style="font-family: 'Orbitron', 'Audiowide', 'Share Tech Mono', 'monospace', 'sans-serif'; letter-spacing: 0.15em;">
      LeakWatch
    </span>
    </a>
  </div>
  <div>
    <div *ngIf="userName; else loginBtn">
      <div class="relative inline-block text-left">
        <button (click)="toggleDropdown()" class="px-6 py-2 cursor-pointer bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-full shadow transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-blue-300">
          {{ userName }}
        </button>
        <div *ngIf="dropdownOpen" class="absolute right-0 mt-2 w-32 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-50">
          <div class="py-1">
            <a routerLink="/my-scans" href="/my-scans" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-blue-50 hover:text-blue-700 transition cursor-pointer">My Scans</a>
            <button (click)="logout()" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-blue-50 hover:text-blue-700 transition">Logout</button>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loginBtn>
      <a routerLink="/login" href="/login">
        <button class="px-6 py-2 cursor-pointer bg-blue-600 hover:bg-blue-400 text-white font-semibold rounded-full shadow transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-blue-300">
          Login
        </button>
      </a>
    </ng-template>
  </div>
</nav>
